.list{
    display: flex;
    flex-direction: column;
    text-align: center;
list-style: none;
}
.list a :hover{
    color: mediumblue;
}

.u-nav{
    display: flex;
    flex-direction:row;
    float: right;

    margin:auto 40px;
    margin-right: -30px;
    
}
#menu-hamburger{
    color: blue;
}
.u-logo-image-2{
     padding: 30px;
    margin-top: 20px;
    height: 30vh;
    margin-bottom: -30px;
    border-radius: 30px;
}
.header{
    display: flex;
    margin-top: -40px;
    margin-left: 80px;
    font-family: sans-serif;
    font-weight: bolder;
    font-style: italic;
    color: rgb(98, 0, 255);


}
.u-text{
    padding: 50px;
}
.u-logo-image{
border-radius: 10px;
}
.u-text-1{
    margin-bottom: 30px;
}

.list {
list-style: none;

}
.ancho{
    padding: 20px;
}
.list>li>a{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: medium;
    font-weight: 100;

}
.list a:hover{
    color:blue;
}
.para{
line-height: 40px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fcfcfc;
    font-family: sans-serif;
}
footer{
    position:relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #111;
    height: auto;
    width: 100vw;

    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px;
padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 40px;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
  float: right;

}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 40px;
display: block;
}
.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: #27bcda;
}

@media screen and (max-width:750px) {
.footer-menu ul{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}
}



.cylinderheads{
    display: grid;
 grid-template-columns: 0.5fr  0.5fr; 
padding: 10px;
margin: 10px;
}

.turb{
    width: 50%;
}